html {
    background-color: white;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1));
    box-shadow: inset 0 0 100px hsla(0,0%,0%,.1), inset 0 0 100px hsla(0,0%,0%,.1), inset 0 0 100px hsla(0,0%,0%,.1), inset 0 0 100px hsla(0,0%,0%,.1);
    height: 100%;
    padding: 50px;
    -webkit-box-sizing: border-box;

}
input {
    display: block;
    margin-bottom: 20px;
}

.nody-header {
    font-family: NeedleWorkGood;
    font-size: 80px;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff,0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fff,
                 0 0 40px #fff,
                 0 0 50px #fff,
                 0 0 60px #fff,
                 0 0 70px #fff;
    color: #000;
    padding-top: 20px;
    position: relative;
}

 input::-webkit-input-placeholder {
    color:    #ddd;
    font-family: WalkwaySemiBold;
    /*font-style: italic;
  	font-size: 20px;
    font-weight: bold;*/
}
input:-moz-placeholder {
    color:    #ddd;
    font-family: WalkwaySemiBold;

  	/*font-style: italic;
  	font-size: 20px;
    font-weight: bold; */
} 

#container {
    text-align: center;
    margin: 0 auto;
    width: 100%;   
}

/* form */
form {
    text-shadow: 0 0 0 transparent, 0px 4px 5px #000;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1));
		border: 0px solid #aaa;
  	border-radius: 14px;
  	box-shadow: inset 0 1px 75px hsla(0,0%,0%,.3),
                inset 0 0 55px hsla(0,0%,0%,.5),
                0 0 0 0px hsla(0,0%,0%,.1),
                0 -1px 2px 0px hsla(0,0%,0%,.25),
                0 2px 2px 0px hsla(0,0%,100%,.5),
                0 -2px 10px 0px hsla(0,0%,100%,.75),
                0 2px 10px 0px hsla(0,0%,0%,.25);
    height: 400px;
  	width: 550px;
  	padding: 0px 0px 0px 0px;
    text-align: center;
    display: block;
    position: relative;
    margin: 0 auto;
}

/* Text */
input[type="text"], input[type="password"] {
    text-shadow: 0 0 0 transparent, 0px 4px 5px #000;
  	background-color: #fff;
  	background-image: url(http://cloud3.graphicleftovers.com/10316/41805/41805_125.jpg);
		border: 0px solid #aaa;
  	border-radius: 14px;
  	box-shadow: inset 0 1px 15px hsla(0,0%,0%,.5),
                inset 0 0 15px hsla(0,0%,0%,.5),
                0 0 0 2px hsla(0,0%,0%,.1),
                0 -1px 2px 0px hsla(0,0%,0%,.25),
                0 2px 2px 2px hsla(0,0%,100%,.5),
                0 -2px 10px 5px hsla(0,0%,100%,.75),
                0 2px 10px 6px hsla(0,0%,0%,.25);
    letter-spacing: 2px;
    height: 80px;
  	width: 400px;
  	text-indent: 20px;
  	padding: 0px 0px 0px 0px;
  	color: #fff;
  	font-size: 50px;
	opacity: 0.9;
  	line-height: 80px;
    font-family: WalkwayBlack, tahoma, sans-serif;
    margin: 0 auto 20px auto;
}

input[type="text"]:focus, input[type="password"]:focus {
  	outline: none;
}

/* stripes code from http://codepen.io/krsiakdaniel/pen/css3progressbar/8 */
input[type="text"]:after, input[type="password"]:after { 
	content: 'IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII';
	display: block;
	width: 90%;
	height: 8px;
	overflow: hidden;
    text-indent: 0;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	transform: skewX(-25deg);
	-webkit-transform: skewX(-25deg);
	font:bold 120px/60px sans-serif;
	letter-spacing: -2px;
	color: #000;
	opacity: 0.07;
}

@font-face {
    font-family: NeedleWorkGood;
    src: url(fonts/NeedleworkGood.ttf) format("truetype");
}

@font-face {
    font-family: WalkwayBlack;
    src: url(fonts/WalkwayBlack.ttf) format("truetype");
}

@font-face {
    font-family: WalkwaySemiBold;
    src: url(fonts/WalkwaySemiBold.ttf) format("truetype");
}

